{% extends 'it_purchase_app/base_module.html' %}
{% load i18n %}

{% block content %}
<div class="row">
<h1>{% trans 'IT Purchase Workflow' %}</h1>
</div>


    <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
{#    TODO GET REDIRECT URL FROM ENV VAR IF REDIRECTION IS NECESSARY #}
    <input name="next" type="hidden" value="/workflow" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ lang.1 }} ({{ lang.0 }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
{% endblock content %}

